//@import "/code/Resource/Styles/GUI.scss";

spawnmenu
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 64px;
	padding-left: 270px;
	padding-right: 270px;
	pointer-events: none;
	//transition: all 0.1s ease-out;
	position: absolute;
	font-family: 'Trebuchet MS';
	opacity: 0;
	z-index: 200;

	.tabs
	{
		font-size: 16px;
		flex-shrink: 0;

		button
		{
			font-size: 16px;
			align-items: center;
			opacity: 0.2;
			color: #fff;
			cursor: pointer;
			background-color: rgba(76,88,68,255);
			font-family: 'Trebuchet MS';
			label
			{
				text-shadow: 1px 1px 4px rgba( black, 0.2 );
			}

			&:hover
			{
				opacity: 1;
			}

			&.active
			{
				transform: scale( 1 );
				opacity: 1;
				color: #fff;
				//	background-color: #fff;//( #3273eb, 0.2 );
				//color: #3273eb;
			}
		}
	}

	.left
	{
		flex-grow: 1;
		flex-direction: column;
		position: relative;

		.body
		{
			background-color: rgba(76,88,68,255);
			border-top: 1px solid #889180;
			border-left: 1px solid #889180;
			border-bottom: 1px solid #282e22;
			border-right: 1px solid #282e22;
			flex-grow: 1;
		}
	}

}

.spawnmenuopen spawnmenu
{
	//transition: all 0.2s ease-out;
	pointer-events: all;
	opacity: 1;
	transform: scale( 1 );

}


.spawnpage
{
	display: none;

	&.active
	{
		display: flex;
		opacity: 1;
	}

	.canvas
	{
		overflow: scroll;
		width: 100%;
		flex-grow: 1;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 16px;

		.cell
		{
			padding: 2px;
		}

		.icon
		{
			color: rgba( #fff, 0.8 );
			font-size: 12px;
			text-align: center;
			cursor: pointer;
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
			background-color: rgba(black, 0.0);
			justify-content: center;

			label
			{
				bottom: 2px;
				font-size: 14px;
				position: absolute;
				pointer-events: none;
			}

			&:hover
			{
				color: #fff;
				background-color: rgba(black, 0.1);
			}
		}
	}
}


spawnmenu .sidebar
{
	//flex-direction: column;
	width: 28px;
	padding: 8px;

	button
	{
		cursor: pointer;
		color: white;
	}
}


icon, iconpanel
{
	font-family: "material icons";
	flex-grow: 1;
	text-align: left;
}
