<link href="/ui/SpawnMenu.scss" rel="stylesheet">
<root style="width: 512px; height: 406px;" class="root">

    <div class="menubar">
        <iconpanel class="panelicon"></iconpanel>
        <text class="optionstext">Spawn Menu</text>
        <button class="dragbutton" onmousedown="down()" onmouseup="up()" onmousemove="Drag()"></button>
        <button class="closebutton" onclick="Close()"></button>
    </div>

    <tabcontrol @ref="MainSelector">
        <!--
        <tab tabName="models" slot="tab" tabtext="Models">
            <div class="selectors">
                <tabcontrol class="selector" @ref="ModelSelector">
                    <tab slot="tab" class="title" tabName="hl" tabtext="<&TT>HALF-LIFE"></tab>
                    <tab slot="tab" class="title" tabName="hl" tabtext="<&SP>H"></tab>
                    <tab slot="tab" tabName="props" tabtext="Props"></tab>
                    <tab slot="tab" tabName="ragdolls" tabtext="Ragdoll"></tab>
                    <tab slot="tab" class="title" tabName="hl" tabtext="<&TT>ADDONS"></tab>
                    <tab slot="tab" class="title" tabName="hl" tabtext="<&SP>H"></tab>
                    <tab slot="tab" tabName="addonmdl" tabtext="Models"></tab>
                </tabcontrol>
            </div>
            <ModelList></ModelList>
        </tab>
        -->
        <tab tabName="weapons" slot="tab" tabtext="Weapons">
            <div class="selectors">
                <tabcontrol class="selector" @ref="WeaponSelector">
                </tabcontrol>
            </div>
            <WeaponList></WeaponList>
        </tab>
        <tab tabName="entities" slot="tab" tabtext="Entities">
            <div class="selectors">
                <tabcontrol class="selector" @ref="EntitySelector">
                </tabcontrol>
            </div>
            <EntityList></EntityList>
        </tab>
        <tab tabName="npcs" slot="tab" tabtext="NPCs">
            <div class="selectors">
                <tabcontrol class="selector" @ref="NPCSelector">
                </tabcontrol>
            </div>

            <NPCList></NPCList>
        </tab>
        <tab tabName="assetparty" slot="tab" tabtext="Asset.Party">
            <div class="selectors">
                <textentry style="width:116px;" placeholder="Search" class="search" @ref="SearchBar"></textentry>
                <tabcontrol style="width:116px;" class="selector" @ref="CloudSelector">
                    <tab slot="tab" tabName="recent" tabtext="Most Recent"></tab>
                    <tab slot="tab" tabName="trend" tabtext="Trending"></tab>
                    <tab slot="tab" tabName="popular" tabtext="Most Popular"></tab>
                    <tab slot="tab" tabName="download" tabtext="Most Downloads"></tab>
                </tabcontrol>
            </div>

            <tabcontrol @ref="TypeSelector">
                <tab slot="tab" tabName="model" tabtext="Models"><CloudModelList></CloudModelList></tab>
                <tab slot="tab" tabName="addon" tabtext="Addons" style=" flex-direction:column;"><check @checked="ShowIncompatible">Show Incompatible Addons</check><CloudModelList style="flex-grow:1;"></CloudModelList></tab>
                <tab slot="tab" tabName="material" tabtext="Materials"><CloudModelList></CloudModelList></tab>
                <tab slot="tab" tabName="map" tabtext="Maps"><CloudModelList></CloudModelList></tab>
                <tab slot="tab" tabName="sound" tabtext="Sounds"><CloudModelList></CloudModelList></tab>
            </tabcontrol>
        </tab>
    </tabcontrol>
    <div style="margin: 4px; justify-content: flex-end;">
        <button onclick="Close()" style="margin-left: 8px;">#PropertyDialog_Cancel</button>
    </div>
</root>